
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-4">
        <h2>Nhân Viên Tiêu Biểu Của Công Ty Trong Tháng</h2>

        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="pull-right">
                    Bộ Phận Kinh Doanh
                </span>
                <span class="label label-success">1</span> Nghĩa
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    Bộ Phận Kế Toán
                </span>
                <span class="label label-info">2</span> Huy
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    Bộ Phận Thiết Kế
                </span>
                <span class="label label-primary">3</span> Hiếu
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    Bộ Phận Tổ Chức
                </span>
                <span class="label label-default">4</span>Hoàng
            <li class="list-group-item">
                <span class="pull-right">
                    Ban Giám Đốc
                </span>
                <span class="label label-primary">5 </span> Minh
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h2>Danh Sách Phòng Ban Xuất Sắc Trong Tháng</h2>
        <ul class="list-group clear-list m-t">
           
            <li class="list-group-item fist-item">
                <span class="pull-right">
                    Phòng Kinh Doanh
                </span>
                <span class="label label-success">1</span>
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    Phòng Kế Toán
                </span>
                <span class="label label-info">2</span>
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    Phòng Thiết Kế
                </span>
                <span class="label label-primary">3</span>
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    Phòng Tổ Chức
                </span>
                <span class="label label-default">4</span>
            <li class="list-group-item">
                <span class="pull-right">
                    Phòng Tài Chính
                </span>
                <span class="label label-primary">5 </span>
            </li>
        </ul>
    </div>
    <div class="col-sm-4">
        <h2>Bộ Phận Đạt Thành Tích Cao Trong Tháng</h2>
        <ul class="list-group clear-list m-t">
            <li class="list-group-item fist-item">
                <span class="pull-right">
                    Bộ Phận Kinh Doanh
                </span>
                <span class="label label-success">1</span>
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    Bộ Phận Kế Toán
                </span>
                <span class="label label-info">2</span>
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    Bộ Phận Thiết Kế
                </span>
                <span class="label label-primary">3</span>
            </li>
            <li class="list-group-item">
                <span class="pull-right">
                    Bộ Phận Tổ Chức
                </span>
                <span class="label label-default">4</span>
            <li class="list-group-item">
                <span class="pull-right">
                   Bộ Phận Tài Chính
                </span>
                <span class="label label-primary">5 </span>
            </li>
        </ul>
    </div>
    

</div>